.input-container {
    display: grid;
    grid-template-columns: 120px auto;
}

.label-wrapper {
    width: 100%;
    background-color: peachpuff;
    border-radius: 5px 0 0 5px;
}

.input-wrapper {
    width: 100%;
}

.input {
    padding: 6px;
    font-size: 1.5rem;
    display:inline-block;
    width: 100%;
}

.label {
    float: left;
    font-size: 1.5rem;
    padding: 5px 10px;

}