.list-item {
    padding: 1rem 1rem .5rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
}

.list-item:hover {
    background-color: rgb(129, 32, 32);
}

.item-result-info-wrapper {
    background-color: rgb(255, 245, 233);
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.item-result-img-wrapper {
    display: grid;
    grid-template-columns: auto auto;
}


.item-result-img-wrapper div:nth-child(2){
    text-align: right;

}

@media (min-width: 600px){
    .item-result-wrapper {
        display: grid;
        grid-template-columns: minmax(auto, 70vw) minmax(max-content, max-content); 
        grid-gap: 1rem;
    }
    .item-result-img-wrapper {
        margin-left: 1rem;
        grid-gap: 1rem;
    }

}