.item-info-wrapper {
    padding: 1rem;
    display: grid;
    grid-template-areas: 
    "heading heading"
    "info images";

}

.modal-ii-heading {
    grid-area: heading;
    border-bottom: solid black 1px;
}

.modal-ii-info {
    grid-area: info;
    padding-top: 4rem;
}

.modal-ii-images {
    text-align: right;
    grid-area: images;
    display: grid;
    grid-template-columns: 1fr;

}