.modal-login-wrapper {
    display: grid;
    grid-template-areas: 
        "title title"
        "inputs aside"
    ;
    grid-gap: 5px; 
    padding: 1.5rem;

}

.modal-login-title {
    grid-area: title;
}

.modal-login-user {
    grid-area: user;
}

.modal-login-inputs {
    grid-area: inputs;
    padding-top: 30px;

}

.modal-login-inputs div {
    padding-bottom: 5px;
}

.modal-login-aside {
    grid-area: aside;
    text-align: right;
}

.error-message {
    padding-top: 15px;
}

.error-message h5{
    color: red
}