.floating-logout {
    position: fixed;
    z-index: 4;
    top: 2px;
    right: 1rem;
}

.floating-logout Button {
    background-color: white;
    color: black;
}

.search-form-container {
    padding: 1rem;
}

.search-form-wrapper {
    display: grid;
    /* grid-template-columns: minmax(auto, 1fr) minmax(max-content, max-content); */
    grid-template-columns: auto;
    grid-gap: .5rem;
}

.search-form-wrapper {
    text-align: center;
}

.info-pane {
    position: fixed;
    right: 0;

}

@media (min-width: 600px){
    .search-form-wrapper {
        grid-template-columns: minmax(auto, 1fr) minmax(max-content, max-content) minmax(max-content, max-content);
    }
}
