
.photos-wrapper {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, 75px);
    grid-gap: 30px;
}

.photo-wrapper {
    background-color: lightgrey;
    height: 100px;
    width: 100px;
    text-align: center;
    color: black;
}

.additional-image {
    max-width:100%;
    max-height:100%;
}