.photos-container {
    padding: 1rem;
    border: black solid 1px;
}

.photos-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 1rem;
}

.photo-wrapper {
    background-color: lightgrey;
    text-align: center;
    color: black;
    padding: 1rem;
    height: 3rem;
    width: 3rem;
}